p {
  color: black;
  font-weight: bold;
  family-font: helvetica;
}
h2 {
  color: purple;
}
h3 {
  color: green;
}
.L, .H{
  color: green;
}
ul{
  font-family: helvetica;
}
body {
  background: linear-gradient(-45deg, #35577D, #141E30);
  margin: .5;
  padding: 1;
}
.class image{
  float: right;
}
